<sly data-sly-use.model="com.adobe.learning.core.models.DefaultModel">
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">${model.logoText}</a></h1>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu" data-sly-list.mainMenuModel="${model.mainMenuModel}"><li class="menu-active"><a href="${mainMenuModel.homeLink}" description="This link leads to the home section" target="${mainMenuModel.homeLinkCheckbox ? '_blank' : '_self'}">Home</a>
<a href="${mainMenuModel.aboutLink}" description="This link leads to the about section" target="${mainMenuModel.aboutLinkCheckbox ? '_blank' : '_self'}">About Us</a>
<a href="${mainMenuModel.servicesLink}" description="This link leads to the services section" target="${mainMenuModel.servicesLinkCheckbox ? '_blank' : '_self'}">Services</a>
<a href="${mainMenuModel.portfolioLink}" description="This link leads to the portfolio section" target="${mainMenuModel.portfolioLinkCheckbox ? '_blank' : '_self'}">Portfolio</a>
<a href="${mainMenuModel.teamLink}" description="This link leads to the team section" target="${mainMenuModel.teamLinkCheckbox ? '_blank' : '_self'}">Team</a>
<a href="${mainMenuModel.dropdownLink}" description="This link opens a dropdown menu" target="${mainMenuModel.dropdownLinkCheckbox ? '_blank' : '_self'}">Drop Down</a>
<a href="${mainMenuModel.contactLink}" description="This link leads to the contact section" target="${mainMenuModel.contactLinkCheckbox ? '_blank' : '_self'}">Contact</a>
</li>
</ul>
 <!-- List original content:-->
<!-- <ul class="nav-menu" data-list-id="list-0" data-sly-list.mainMenuModel="${model.mainMenuModel}">
          <li class="menu-active"><a link-homeLink="" href="#intro" description="This link leads to the home section">Home</a></li>
          <li><a link-aboutLink="" href="#about" description="This link leads to the about section">About Us</a></li>
          <li><a link-servicesLink="" href="#services" description="This link leads to the services section">Services</a></li>
          <li><a link-portfolioLink="" href="#portfolio" description="This link leads to the portfolio section">Portfolio</a></li>
          <li><a link-teamLink="" href="#team" description="This link leads to the team section">Team</a></li>
          <li class="menu-has-children"><a link-dropdownLink="" href="" description="This link opens a dropdown menu">Drop Down</a>
            <ul list-dropdownMenu="" description="This list contains dropdown menu items">
              <li><a link-dropdown1="" href="#" description="This is a dropdown menu item">Drop Down 1</a></li>
              <li><a link-dropdown3="" href="#" description="This is a dropdown menu item">Drop Down 3</a></li>
              <li><a link-dropdown4="" href="#" description="This is a dropdown menu item">Drop Down 4</a></li>
              <li><a link-dropdown5="" href="#" description="This is a dropdown menu item">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a link-contactLink="" href="#contact" description="This link leads to the contact section">Contact</a></li>
        </ul> -->
      </nav><!-- #nav-menu-container -->
    </div>
  </sly><!-- #header -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators"/>
        <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="${model.carouselImage1Reference @ context='uri'}" alt="Carousel Image 1" data-sly-test="${model.carouselImage1Reference}"/>
            <div class="carousel-container">
                <div class="carousel-content">
                    <h2>${model.carouselTitle1}</h2>
                    <p>${model.carouselDescription1}</p>
                    <a href="${model.carouselCTA1}" class="btn-get-started scrollto" target="${model.carouselCTA1Checkbox ? '_blank' : '_self'}">Get Started</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="${model.carouselImage2Reference @ context='uri'}" alt="Carousel Image 2" data-sly-test="${model.carouselImage2Reference}"/>
            <div class="carousel-container">
                <div class="carousel-content">
                    <h2>${model.carouselTitle2}</h2>
                    <p>${model.carouselDescription2}</p>
                    <a href="${model.carouselCTA2}" class="btn-get-started scrollto" target="${model.carouselCTA2Checkbox ? '_blank' : '_self'}">Get Started</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="${model.carouselImage3Reference @ context='uri'}" alt="Carousel Image 3" data-sly-test="${model.carouselImage3Reference}"/>
            <div class="carousel-container">
                <div class="carousel-content">
                    <h2>${model.carouselTitle3}</h2>
                    <p>${model.carouselDescription3}</p>
                    <a href="${model.carouselCTA3}" class="btn-get-started scrollto" target="${model.carouselCTA3Checkbox ? '_blank' : '_self'}">Get Started</a>
                </div>
            </div>
        </div>
          <div class="carousel-item" style="background-image: url('img/intro-carousel/4.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>${model.carouselTitle4}</h2>
                <p>${model.carouselDescription4}</p>
                <a href="${model.carouselCTA4}" class="btn-get-started scrollto" target="${model.carouselCTA4Checkbox ? '_blank' : '_self'}">Get Started</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('img/intro-carousel/5.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>${model.carouselTitle5}</h2>
                <p>${model.carouselDescription5}</p>
                <a href="${model.carouselCTA5}" class="btn-get-started scrollto" target="${model.carouselCTA5Checkbox ? '_blank' : '_self'}">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"/>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"/>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>